.grid-container {
    display: grid;
    place-content: center;
    min-height: 100vh;
}
.container{
    height: 800px;
    width: 80vw;
    min-width: 778px;
    border-radius: 10px;
    background-color: rgba(212, 212, 212, 0.596);
    font-family: 'Imbue', serif;
}
